.chatbox {
  width: 50%;
  /* border: solid; */
}

.app-title-container {
  height: 20vh;
}

.select-user-container {
  margin: 0 auto;
  width: 50%;
  height: 30vh;
}

.select-user-text {
  text-align: center;
}

.form-container{
  display: flex;
  justify-content: center;
}

.submit-container{
  display: flex;
  justify-content: right;
}

.wife-image-container{
  display: flex;
  justify-content: center;
}

.wife-image{
  width: 50%
}
